.bag-container {
    margin-top: 2rem;
    position: relative;
    bottom: -500px;
}

.bagsBanner img {
    width: 100vw;
    height: 100vh;
    margin-bottom: 2rem;
}

.bag-template {
    position: absolute;
    top: 3rem;
    right: 10rem;
    width: 30%;
    text-align: center;
}

.bag-template h2 {
    font-size: 3rem;
    color: #c204c2;
    text-shadow: 1px 1px #063549;
}

.bag-template h1 {
    font-size: 4rem;
    padding: 1rem;
    color: #aa05aa;
    background: #ffe601;
    font-weight: bolder;
}

.conferir {
    margin-top: 1rem;
    position: relative;
    font-size: 1.8rem;
    background: #aa05aa;
    border: none;
    width: 12rem;
    height: 2.8rem;
    visibility: visible;
}

.conferir a {
    text-decoration: none;
    color: #ffe601;
}

.bags-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bag-card {
    width: 25%;
    height: auto;
    margin: 0 4rem 8rem 0;
}

.bag-card img {
    position: relative;
    width: 100%;
    height: 300px;
}

.bag-info {
    position: absolute;
    width: 27%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.bag-info p {
    font-size: 1.8rem;
    font-weight: bolder;
    background: linear-gradient(90deg, rgb(114, 3, 114) 0%, rgb(255, 230, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bolsa-comprar {
    background: #aa05aa;
    border-radius: 0.5rem;
    border: none;
    width: 6rem;
    height: 2.5rem;
    visibility: visible;
}

.bolsa-comprar:hover {
    background: #850385;
}

.bolsa-comprar a {
    text-decoration: none;
    color: #ffe601;
}

@media (max-width: 1024px) {
    .bag-container {
        width: 1024px;
    }
    .bagsBanner img {
        width: 1024px;
        height: 900px;
    }
}