.featured {
    margin-top: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.featured-title {
    background: linear-gradient(0deg, rgba(253,29,29,1) 20%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.featured-title h3 {
    font-size: 3rem;
    font-weight: 700;
}

.featured-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: #aaa;
    padding: 2rem;
}

.featured-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-item img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.featured-item1 {
    position: absolute;
    top: 1rem;
    left: 2rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 1px #000000;
    width: 300px;
    height: 430px;
    border-radius: 5px;
    z-index: 1;
}

.featured-item1-hidden {
    display: none;
}

.featured-item2 {
    position: absolute;
    top: 3rem;
    left: 21.5rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 1px #000000;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    z-index: 1;
}

.featured-item2-hidden {
    display: none;
}

.featured-item3 {
    position: absolute;
    top: 3rem;
    right: 24.5rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 1px #000000;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    z-index: 1;
}

.featured-item3-hidden {
    display: none;
}

.featured-item4 {
    position: absolute;
    top: 3rem;
    right: 5rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 1px #000000;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    z-index: 1;
}

.featured-item4-hidden {
    display: none;
}

.items-image img {
    width: 200px;
}

.price-item {
    position: absolute;
    top: 4rem;
    left: 3rem;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.price-item h3, .price-item h5 {
    background: #fff;
    box-shadow: 1px 1px 1px #000000;
    border-radius: 5px;
}

.price-item h6 {
    background: #925f30;
    color: #fff;
    box-shadow: 1px 1px 1px #000000;
    border-radius: 5px;
}

.item-btn {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-btn button {
    background: linear-gradient(0deg, rgba(253,29,29,1) 20%, rgba(252,176,69,1) 100%);
    border-radius: 0.5rem;
    width: 6rem;
    height: 2.5rem;
    text-decoration: none;
    color: #fff;
    visibility: visible;
    cursor: pointer;
}

.close-item {
    width: 100%;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close-btn {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #f00;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.select-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#select {
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.selectCart {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.6rem;
}

.selectCartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #063549;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.selectCartBtn a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1024px) {
    .carousel-ads {
        width: 1024px;
    }
    .ads-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .ads-cards {
        margin-right: 1rem;
    }
    .ads-icon {
        font-size: 1.2rem;
    }
    .featured {
        width: 1024px;
    }
    .featured-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .featured-item img {
        width: 200px;
        height: 200px;
        margin: 0.3rem;
    }
}