/*First container - Promotions*/
.ads-container {
    width: 100%;
    height: 30%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.ads-title {
    position: absolute;
    top: 0;
    color: #041b25;
}

.ads-cards {
    width: 20%;
    height: 3.5rem;
    background: #02212e;
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.carousel-control-prev-icon, .carousel-control-next, button {
    visibility: hidden;
}

.ads-cards:hover {
    background: #041b25;
    color: yellow;
}

.ads-icon {
    font-size: 2rem;
}

.ads-text {
    font-size: 1.2rem;
}

.ads-text a {
    text-decoration: none;
    color: #fff;
}

/*Second container - Featureds - Latest releases*/
.featured {
    margin-top: 4rem;
    width: 100%;
    text-align: center;
    position: relative;
}

.featured-title {
    color: #041b25;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.featured-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #925f30;
    padding: 2rem;
}

.featured-item img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 3rem;
}

.featured-item1 {
    position: absolute;
    top: 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 1px #000000;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    z-index: 1;
}

.featured-item1-hidden {
    display: none;
}

.featured-item2 {
    position: absolute;
    top: 0;
    left: 21.5rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 1px #000000;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    z-index: 1;
}

.featured-item2-hidden {
    display: none;
}

.featured-item3 {
    position: absolute;
    top: 0;
    right: 24.5rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 1px #000000;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    z-index: 1;
}

.featured-item3-hidden {
    display: none;
}

.featured-item4 {
    position: absolute;
    top: 0;
    right: 5rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 1px #000000;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    z-index: 1;
}

.featured-item4-hidden {
    display: none;
}

.items-image {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

.items-image img {
    width: 100%;
}

.price-item {
    position: absolute;
    top: 4rem;
    left: 3rem;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.price-item h3, .price-item h5 {
    background: #fff;
    box-shadow: 1px 1px 1px #000000;
    border-radius: 5px;
}

.price-item h6 {
    background: #925f30;
    color: #fff;
    box-shadow: 1px 1px 1px #000000;
    border-radius: 5px;
}

.item-btn {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-btn button {
    background: #063549;
    border-radius: 0.5rem;
    width: 6rem;
    height: 2.5rem;
    text-decoration: none;
    color: #fff;
    border: none;
    visibility: visible;
    cursor: pointer;
}

.item-btn button:hover {
    background-color: #02212f;
}

.close-item {
    width: 100%;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close-btn {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #f00;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.select-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#select {
    height: 1rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.selectCart {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.6rem;
}

.selectCartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #063549;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.selectCartBtn a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1024px) {
    .carousel-ads {
        width: 1024px;
    }
    .ads-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .ads-cards {
        margin-right: 1rem;
    }
    .ads-icon {
        font-size: 1.2rem;
    }
    .featured {
        width: 1024px;
    }
    .featured-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .featured-item img {
        width: 200px;
        height: 200px;
        margin: 0.3rem;
    }
}