.header {
    background-color: #02212e;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.nav__menu {
    display: none;
}

@media (max-width: 1024px) {
    .header {
        width: 1024px;
        height: 14vh;
    }
}