.header {
    background-color: #02212e;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}