.footer-container {
    position: relative;
    bottom: -500px;
    width: 100%;
    height: 90vh;
}

.line-footer {
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.line-center {
    width: 100%;
    border-bottom: 1px solid #063549;
}

.menus {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.menus li {
    list-style: none;
    margin-bottom: 1rem;
}

.menus a {
    text-decoration: none;
    color: #333;
}

li .title {
    font-weight: 700;
    color: #063549;
    text-transform: none;
}

.btn-footer {
    color: #063549;
    border: 2px solid #063549;
    font-size: 1rem;
    border-radius: 2rem;
    width: 12rem;
    height: 2.5rem;
    visibility: visible;
}

.btn-footer:hover {
    background: #063549;
    color: #fff;
}

.social-midias {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-midias a {
    color: #063549;
    font-size: 1.6rem;
    margin-right: 0.5rem;
}

