.banner {
	width: 100vw;
    height: 100vh;
    margin-bottom: 2rem;
}

.banner img {
    position: relative;
    width: 100%;
    height: 100%;
}

.template {
    position: absolute;
    top: 15rem;
    left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 2px #02212e;
    color: #02212e;
    width: 40%;
    height: 35%;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 1;
}

.line {
    width: 120px;
}

.line-color {
    width: 3rem;
    border: 2px solid #925f30;
}

.view {
    position: relative;
    background: #063549;
    border-radius: 0.5rem;
    width: 6rem;
    height: 2.5rem;
    z-index: 2;
    visibility: visible;
}

.view:hover {
    background: #02212e;
}

.view a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 480px) {
    .template {
        width: 60%;
    }
}

@media (max-width: 900px) {
    .banner img {
        width: 900px;
    }
    .template {
        top: 10rem;
        height: 60%;
        overflow: hidden;
    }
}